@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Oswald";
}

li {
    list-style-type: none;
}

h2 {
    font-family: "Amatic SC", cursive;
    text-align: center;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 img {
    width: 75px;
    margin-right: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

header {
    text-align: center;
    padding: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-bar form {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 1em;
    flex: 1;
}

.search-bar button {
    background: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.search-bar button img {
    width: 20px;
    height: 20px;
}

main {
    padding: 20px;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.recipe {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    display: inline-block;
    width: 300px;
    margin: 20px 0;
}

.tag {
    display: block;
    background: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    border-radius: 3px;
    margin: 10px 0;
    font-size: 0.8em;
    text-transform: uppercase;
}

.name {
    font-family: "Amatic SC", cursive;
    color: var(--primary-color);
    font-size: 20px;
    margin: 10px 0;
    text-decoration: none;
}

.recipe_rating {
    display: block;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #f8f8f8;
    font-size: 0.8em;
}

footer .social a {
    margin: 0 10px;
    display: inline-block;
}

footer .social img {
    width: 30px;
    height: 30px;
}

.recipe_description {
    display: none;
}

@media (min-width: 600px) {
  

    .search-bar {
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }

    .search-bar form {
        width: 100%;
    }
    
    main {
        flex-direction: row;
    }

    .info {
        flex-direction: row;
    }

}



@media (min-width: 960px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 50px;
    }

    .search-bar {
        width: auto;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .recipe {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: 1px solid #ccc;
        gap: 10px;
    }
    .recipe img {
        width: 45%;
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .tag {
        background: white;
        color: black;
        border: 1px solid black;
        border-radius: 4px;
        padding: 5px;
        border-radius: 5px;
    }

    .recipe_description {
        display: block;
        text-align: left;
    }

    .social {
        display: flex;
        justify-content: flex-end;
    }

    .atribute {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
}
