body {
    margin: 0;
    margin-top: 5%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    max-width: 600px;
    border-style: solid;
    border-width: .01cap;
    margin: 5%;
    padding: 5%;
    line-height: 1.5;
}
header {
    display: block;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-size: 30px;
    letter-spacing: .2rem;
}

h3 {
    font-size: 12px;
    color: #006EB6;
    letter-spacing: .2rem;
}

article {
    padding-top: 5%;
}

li {
    padding-bottom: 3%;
}

img {
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}